* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #ECF9FF;
}

.header {
    background: #ECF9FF;
    padding: 0 0 10px 0;
    border: 0;
    border-bottom: 1px solid #dbecf5;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

.header_main{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: -10px;
}

.logo h1 {
    font-family: "Lobster", sans-serif;
    font-style: normal;
    font-size: 32px;
    color: #00bbd4;
}

.note {
    display: flex;
    background-color: #3AB0FF;
    padding: 22px;
    color: aliceblue;
    align-items: center;
}

.note p {
    margin-left: 10px;
    font-size: 18px;
}

.menuX {
    display: flex;
    margin-top: 10px;
}
.menuX div{
    padding: 15px;
}

.menuX a {
    cursor: pointer;
    font-size: 20px;
}

.menuX a:hover {
    background-color: #22a1a8;
    color: #ECF9FF;
}
.menuX .selected{
    text-decoration-style: wavy;
    color: #22a1a8;
}
.menuX .selected:hover{
    background-color: #ECF9FF;
    color: #22a1a8;
}


.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
.menu_list {
    border: 0;
    border-top: 1px solid #fcfcfc;
    margin: 0px 20px 0px 20px;
    padding: 10px 0px 10px 0px;
}
.menu_list div {
    margin: 10px 20px 10px 20px;
}
.menu_list a{
    color: rgb(32, 37, 43);
    font-size: 18px;
}

.main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main_text {
    position: absolute;
    top: 40px;
    left: 16px;
    z-index: 80;
    padding: 10px;
}

.main_text h1 {
    font-size: 34px;

}

.main_text h2 {
    font-size: 24px;

}

.care-features_web {
    margin-top: 50px;
}

.feature {
    max-width: 300px;
    margin-top: 15px;
    border-radius: 3px;
    background-color: #ECF9FF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    overflow: hidden;
}

.feature .a {
    background-color: #00bbd4;
    padding: 20px;
    color: #ECF9FF;
    padding-top: 28px;
}
.feature .b {
    padding: 20px;
}

.feature h3 {
    margin-bottom: 8px;
    color: #22a1a8;
}
.main_picure {
    width: 100%;
    min-height: 750px;
    float: right;
}
.main_picure img{
    position: relative;
    width: 100%;
    max-width: 1100px;
    bottom: -3px;
    z-index: 60;
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
}
.img_shadow {
    background-color: #00bbd4;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    position: absolute;
    border-top-left-radius: 1000px;
    top: 170px;
    margin: auto;
    right: 0;
}

.container {
    padding: 20px;
}

.container h2 {
    font-size: 30px;
}

.middle {
    padding: 20px;
    font-size: 24px;
}

.title_care {
    padding: 20px;
    font-size: 30px;
}

@media only screen and (max-width: 900px) {
    .body {
        margin-top: 20px;
    }
    .menuX {
        display: none;
    }
    .menuY {
        display: block !important;
    }
    .main_picure {
        margin-top: 140px;
    }
    .care-features_web {
        display: none;
    }
    .care-features_phone {
      display: block !important;
      position: relative;
      height: 280px;
      overflow: hidden;
    }
    .care-features_phone_front {
        display: grid;
        grid-template-columns: auto auto;
        position: absolute;
        margin-top: 8px;
    }
    .care-features_phone_back {
        background: url(./images/ser.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* Add the blur effect */
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
    }

    .feature {
        margin: 6px !important;
        max-width: 1000px !important;
        z-index: 90;
    }

    .feature .a {
        padding: 26px 16px 16px 16px;
    }

    .main_picure {
        min-height: 360px;
    }
    .main_text {
        top: 0 !important;
    }
  }